.input {
  width: 100%;
  &__i {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 24px;
    padding: 7px 15px;
    color: white;
    text-align: right;
    box-sizing: border-box;
  }
}