
.home {
  width: 90vw;
  max-width: 1440px;
  margin: 0 auto;
  &__first {
    display: flex;
    justify-content: center;
  }
  &__second {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .home {
    &__first {
      flex-direction: column;
    }
    &__second {
      flex-direction: column;
    }
  }
}