
.tokenInformation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .flex1 {
    flex: 1;
  }
  &__icon {
    background-image: url("./assets/icon.png");
  }
  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 26px;
  }
  &__frame {
    flex: 1;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
    border-radius: 20px;
    background-color: rgb(25, 27, 31);
  }
  &__circulate {
    font-size: 18px;
    .image {
      padding: 10px;
      margin-left: 5px;
    }
    &__gray {
      color: gray;
    }
    &__percentage {
      width: 100%;
      margin: 10px 0;
    }
  }
  &__distributed {
    .image {
      margin-left: 10px;
      padding: 15px;
    }
    .tokenInformation__flex {
      justify-content: flex-start;
      font-size: 30px;
    }
  }
  &__proposal {
    .image {
      padding: 10px;
    }
  }
  &__vote {
    .image {
      padding: 10px;
      margin-left: 10px;
    }
  }
}