.agentRegisterForm {
  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  &__label {
    font-size: 20px;
  }
  &__confirm {
    cursor: pointer;
    color: white;
    background-color: red;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    border: none;
  }
  &__disabled {
    cursor: default;
    background-color: rgb(44, 47, 54);
    color: rgb(195, 197, 203);
    border: 1px solid transparent;
  }
}