
.chainSelection {
  position: relative;
  &__selected {
    color: rgb(243, 183, 30);
    background-color: rgba(243, 132, 30, 0.05);
    padding: 8px 12px;
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
  }
  &__options {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: rgb(25, 27, 31);
    &__option {
      padding: 8px 12px;
      cursor: pointer;
      &:hover {
        background-color: rgb(44, 47, 54);
        color: red;
      }
    }
  }
}